body {
    padding: 40px;
    background-color: lightskyblue;
    color: #3b2d64;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    border: 2px solid black;
    padding: 10px;
}

td {
    border: 2px solid black;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
}

input {
    border: 2px solid grey;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
}